body{
	width:100%;
	box-shadow: 0 2px 10px 1px black;
}
#title {
	list-style-type:none;
	background:#d9d9d9;
	text-align:left;
	font-size:4em;
	padding:2%;
	margin:0;
}

#title li {
	display:inline;
	color:#808080;	
}

#title a,
#title a:visited {
	color:#808080;
}

.title {
	margin-bottom:3%;
}

.title span {
	font-size:4em;	
}

.title p {
	font-size:4.000em;
}

.contact {
	border-bottom:1px dotted #d9d9d9;
	color:#808080;
	padding:3% 0;
}

.contact span {
	color:#d9d9d9;
}

#contact_div {
	position:relative;	
	margin-top:5%;
}

.black_text {
	margin-bottom:5%;
	font-size:4em;
	height:3%;
}

#contact_form_container {
	margin-left:3.6%;
	margin-right:3.6%;
	margin-top:6.5%;
	margin-bottom:12%;
}

.textfield {
	background:#e6e6e6;
	color:#b3b3b3;
	border:none;
}

.button {
	height:11%;
	background:#EB9F4e;
	width:47%;
	float:right;
	border:none;
	padding:2%;
	margin:0;
	color:white;
	font-size:4.167em;
}

.orange_btn {
	float:left;
	margin-right:3.5%;
	background:#F0B77A;
}

#submit_div {
	margin-top:4.5%;
	margin-bottom:12%;
}

.input_div {
	margin-bottom:3%;
}


@media (min-width: 213px) {
  html, body { font-size: 2px;line-height: 1;
	 } }
@media (min-width: 256px) {
  html, body { font-size: 3px;line-height: 1; } }
@media (min-width: 320px) {
  html, body {
  	font-size: 3px;line-height: 1;
  }
}
@media (min-width: 320px) {
  html, body {
     font-size: 4px;
	line-height:1; }
  	
	#title {
		padding:12px;
	}

	#guestbook_list {
		padding:27px;
		
	}
	
}
@media (min-width: 360px) {
  html, body {
    font-size: 6px;
	line-height:1; } 
  	
	#title {
		padding:20px;
	}
	
	#guestbook_list {
		padding:64px;
	}
}

@media (min-width: 375px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
 }
@media (min-width: 400px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
 }
@media (min-width: 480px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
}  	
@media (min-width: 540px) {
  html, body {
    font-size: 6px;
    line-height: 1; }  
@media (min-width: 600px) {
  html, body {
    font-size: 7px;
    line-height: 1; }
}

@media (min-width: 640px) {
  html, body {
    font-size: 7px;
    line-height: 1;  	 } }
@media (min-width: 720px) {
	
}
@media (min-width: 768px) {
  html, body {
    font-size: 8px;
    line-height: 1;  	 } }
@media (min-width: 800px) {
  html, body {
    font-size: 10px;
    line-height: 1;  	 } }
@media (min-width: 960px) {
  html, body {
    font-size: 11px;
    line-height: 1;  	 }
}
@media (min-width: 1024px) {

  html, body {
    font-size: 12px;
    line-height: 1;  	 }	

@media (min-device-width: 1280px) {
        body {
                width:450px;
        	    font-size:6px;
        }
#background {
                width:120%;
        }
}