
.photos {
	display:none;
}

#pic {
	border-radius:50px;
	width:100%;
	height:100%;
	<!--display:none;-->
}


#title {
	list-style-type:none;
	background:#d9d9d9;
	text-align:left;
	font-size:4em;
	padding:3%;	
	margin:0;
}

#title li {
	display:inline;
	color:#808080;	
}

#title a,
#title a:visited {
	color:#808080;
}

.title {
	margin-bottom:3%;
}

.upload_btn {
	cursor:pointer;
	z-index:2;
	width:60%;	
}

.blah {
	display:none;
	position: absolute;
	top: 4%;
	left: 2.5%;
	z-index: 4;
	width: 55%;
	height: 80%;
	border-radius: 17%;
}

#info_wrapper div {
	padding:2% 7%;
  	color: #86C557;
  	font-size: 4.0em;	
	line-height:1;
}

.radio_text {
	font-size:4.0em;	
	margin-right:3%;
}

.black_text {
	margin-bottom:5%;
	font-size:3.333em;
	height:3%;
}

#device_menu_container {
	padding:5%;
	padding-bottom:10%;
}


#pic {
	/*
	display:none;
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 87%;	
	border-radius: 22%;
	*/
	display:none;
	position: absolute;
	top: 3.5%;
	left: 5%;
	z-index: 4;
	  width: 120%;
	  height: 81%;	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	  
	
	
}

#img_wrapper  {
	float:left;
	margin-right:5%;
  	position: relative;
}

#upload_btn {
	position:relative;
	z-index:10;	
	width:130%;
}

#info_wrapper {
	float:left;
	width:40%;
	text-align:left;
	margin-left:10%;
}
.device_status {
	float:right;
	margin-right:6.4%;
	margin-top:3em;
}

.menu {
	width:50%;
	float:left;
	position:relative;
	display:block;
}

.menu span {
	position:absolute;
	right:5%;
	bottom:5%;
	color:white;	
}

#notification_count {
	color:white;
	position:absolute;
	left:5%;
	top:5%;	
	width:15%;
	height:15%;
	text-align:center;
	padding-top:4%;
	font-size:3em;
	background:url(/img/07/notice_background.png) center top no-repeat;
	background-size:contain;
}

@media (min-width: 213px) {
  html, body { font-size: 2px;line-height: 1;
	 } }
@media (min-width: 256px) {
  html, body { font-size: 3px;line-height: 1; } }
@media (min-width: 320px) {
  html, body {
  	font-size: 3px;line-height: 1;
  }
}
@media (min-width: 320px) {
  html, body {
     font-size: 5px;
	line-height:1px; }
	
}
@media (min-device-width: 360px) {
  html, body {
    font-size: 5px;
	line-height:1px; }

#img_wrapper  {
  	width: 30%;
}
  	
#title {
	padding: 5%;
} 	
  	
input[type=checkbox],
  input[type=radio] {
    border: 0px;
    width: 1.5em;
    height: 1.5em;
  	zoom:300%;
}
}

@media (min-width: 375px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
 }
@media (min-width: 400px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
 }
@media (min-width: 480px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
}  	
@media (min-width: 540px) {
  html, body {
    font-size: 6px;
    line-height: 1; }  
@media (min-width: 600px) {
  html, body {
    font-size: 7px;
    line-height: 1; }
}

@media (min-width: 640px) {
  html, body {
    font-size: 7px;
    line-height: 1;  	 } }
@media (min-width: 720px) {
	
}
@media (min-width: 768px) {
  html, body {
    font-size: 8px;
    line-height: 1;  	 } }
@media (min-width: 800px) {
  html, body {
    font-size: 10px;
    line-height: 1;  	 } }
@media (min-width: 960px) {
  html, body {
    font-size: 11px;
    line-height: 1;  	 }
}
@media (min-width: 1024px) {

  html, body {
    font-size: 12px;
}
}	