::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b3b3b3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b3b3b3;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b3b3b3;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #b3b3b3;
}

#updatePet{
	background:#d9d9d9;
}
#updateHuman{
	background:#d9d9d9;
}
#updateValuable{
	background:#d9d9d9;
}
#human_tab_container,
#val_tab_container,
#pet_tab_container {
	background:#4e88ff;
	padding-bottom:1%;	
}
#human_tab_container ul,
#val_tab_container ul,
#pet_tab_container ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:right;
}

#human_tab_container li,
#val_tab_container li,
#pet_tab_container li {
	padding-bottom:40px;	
	display:inline-block;
	width:49%;
	text-align:center;
	color:white;
	font-size:4.000em;
	cursor:pointer;
}

#human_tab_container img,
#val_tab_container img,
#pet_tab_container img {
	vertical-align:top;
	margin-right:1%;
	width:20%;
}

#human_tab_container li span,
#val_tab_container li span,
#pet_tab_container li span {
	padding-top:10%;	
	display:inline-block;
}

#human_tab_container .human_info_tab,
#val_tab_container .val_info_tab,
#pet_tab_container .pet_info_tab  {
	width:50%;
	background:#4e65c5 left bottom no-repeat;
	background-size: contain;
	padding-bottom:40px;
}

.container {
	padding:4%;
}

.input_div {
	 margin-bottom: 9%;
}

.checkbox_table {
	width:100%;	
}

.checkbox_table th {
	text-align:left;
	width:45%;
	vertical-align:middle;
	color:#666;
}

#title {
	list-style-type:none;
	background:#d9d9d9;
	text-align:left;
	font-size:4.0em;
	padding:3%;	
	margin:0;
}

#title li {
	display:inline;
	color:#808080;	
}

#title a,
#title a:visited {
	color:#808080;
}

.title {
	margin-bottom:3%;
}

.radio_text {
	font-size:3.333em;	
	margin-right:3%;
}

.black_text {
	margin-bottom:5%;
	font-size:3.333em;
	height:3%;
}


.button {
	height:11%;
	background:#EB9F4e;
	width:100%;
	border:none;
	padding:5%;
	color:white;
	font-size:4.167em;
	height: 15%;
    margin: 10px 0;
}

.orange_btn {
	float:left;
	margin-right:3.5%;
	background:#F0B77A;
}

.submit_div {
	width:92%;
	margin:4.5% auto 0 auto;
	padding-bottom:12%;
}

#healthStatus_container {
	display:none;
}

@media (min-width: 213px) {
  html, body { font-size: 2px;line-height: 1;
	 } }
@media (min-width: 256px) {
  html, body { font-size: 3px;line-height: 1; } }
@media (min-width: 320px) {
  html, body {
  	font-size: 3px;line-height: 1;
  }
}
@media (min-width: 320px) {
  html, body {
     font-size: 4px;
	line-height:1px; }
	
}
@media (min-width: 360px) {
  html, body {
    font-size: 6px;
	line-height:1px; } 
}

@media (min-width: 375px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
 }
@media (min-width: 400px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
 }
@media (min-width: 480px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
}  	
@media (min-width: 540px) {
  html, body {
    font-size: 6px;
    line-height: 1; }  
@media (min-width: 600px) {
  html, body {
    font-size: 7px;
    line-height: 1; }
}

@media (min-width: 640px) {
  html, body {
    font-size: 7px;
    line-height: 1;  	 } }
@media (min-width: 720px) {
	
}
@media (min-width: 768px) {
  html, body {
    font-size: 8px;
    line-height: 1;  	 } }
@media (min-width: 800px) {
  html, body {
    font-size: 10px;
    line-height: 1;  	 } }
@media (min-width: 960px) {
  html, body {
    font-size: 11px;
    line-height: 1;  	 }
}
@media (min-width: 1024px) {

  html, body {
    font-size: 12px;
    line-height: 1;  	 }	