body{
	width:100%;
	background-color: white;
	box-shadow: 0 2px 10px 1px black;
}
#title {
	list-style-type:none;
	background:#d9d9d9;
	text-align:left;
	font-size:4.0em;
	padding:3%;	
	margin:0;
}

#title li {
	display:inline;
	color:#808080;	
}

#title a,
#title a:visited {
	color:#808080;
}

.title {
	margin-bottom:3%;
}

.input_div {
	margin-bottom:3%;
}

.submit_div {
	margin-top:4.5%;
	margin-bottom:12%;
}