@CHARSET "UTF-8";

body {
	margin:0;
	padding:0;
	font-family: Microsoft JhengHei;
	line-height:1;
}

#header {
	background:#86C557;
	padding:3%;
	position:relative;
}

#logout {
	position:absolute;
	right:3%;
	top:40%;
	color:white;
	font-size:2.917em;
	font-weight:bold;
}

#logout a,
#logout a:visited {
	color:white;
}

#header ul{
	margin:0;
	padding:0;
	list-style:none;
	font-size:3.333em;
	color:#FFFFFF;
}
#header li{
	display: inline;
	color:#FFFFFF;
}

#header img {
	vertical-align:middle;
	width:30%;
}

#footer {
	background:#86C557;
	color:#FFFFFF;
	font-size:3.333em;
	text-align:center;	
	padding-top:1%;
	padding-bottom:1%;
}

.clear {
	clear:both;
}

a {
	text-decoration: none;
}
.textfield{
	height:10%;
	padding:2%;
	width:96%;	
	font-size:3.333em;
	text-align:left;
	margin-top:1%;
	background: #e6e6e6;
  	color: #b3b3b3;
  	border: none;
}

.green_text{
	color:#86C557;
	font-size:3.333em;
	line-height:1;	
}
.grey_text{
	color:#9B9B9B;
	font-size:3.333em;
	line-height:1;	
}
.blue_text{
	color:#4990E3;
	font-size:3.333em;
	line-height:1;	
}
.white_text{
	color:#FFFFFF;
	font-size:3.333em;	
	line-height:1;	
}
.black_text{
	color:#333333;
	font-size:3.333em;
	line-height:1;
}
.orange_text{
	color:#EB9F4E;
	font-size:3.333em;
	line-height:1;	
}
.red_text{
	color:#FF0000;
	font-size:3.333em;
	line-height:1;	
}

<!-- /device/create.phtml -->
#addSerial{
}
#help_button{
	background:transparent;
	background-image:url("/img/13/icon-04.png");
	width:60px;
	height:60px;
	border:none;
	margin-top:36px;
	float:right;
}
.tagKind_container {
	width:160px;
	float:left;
}
#addPet{
}
#petInfo_tab{
	border:none;
}
#petHealth_tab{
	border:none;
}
#addHuman{
}
#addValuable{
}

<!-- /user/update.phtml -->
#user_form_container{
	
}

<!-- /device/update.phtml -->
	
<!-- /guestbook/create.phtml -->
#guestbook_form_container{

}

<!--
.message_form {
    margin-left:auto;
    margin-right:auto;
	width:100%;
}

.message_form label {
    display: block;
    margin: 0px 0px 5px;
}
.message_form label>span {
    float: left;
    margin-top: 10px;
    color:blue;
    font-size:3.333em;
}
.message_form input[type="text"], .message_form input[type="date"], .message_form input[type="time"],
.message_form input[type="tel"], .message_form textarea{
    color: #555;
    height: 50px;
    line-height:15px;
    width: 95%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.message_form textarea{
    height:100px;
    padding-top: 10px;
}
.message_form .button {
    background-color:orange;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFFFFF;
}
.message_form .button:hover {
    background-color:#80A24A;
}
-->

 input[type=checkbox],
  input[type=radio] {
    border: 0px;
    width: 2em;
    height: 2em;
}

