@CHARSET "UTF-8";

body {
	font-size:16px;
}

#header {
	display:none;
}

#footer {
	font-size:1.5em;
}

#lost_banner {
	background:#86C557;
	padding:3%;
	position:relative;
}

#lost_banner img {
  vertical-align: middle;
  width: 37.5%;
}

#lost_label {
	background:#FF5B7C;
	font-size:2em;
	color:white;
	text-align:center;
	padding:5% 2%;
}

#lost_photo {
	width:40%;
	float:left;
}

#lost_photo img{
	width:100%;
	height:11.25em;
}

#lost_info_wrapper {
	width:50%;
	margin:0.75em 1em;
	float:left;
}

#lost_info_wrapper table{
}

#lost_info_wrapper tr{
	font-size:1.5em;
	height:1.5em;
	table-layout:fixed;
	overflow:hidden;
	white-space: nowrap;
}

#lost_info_wrapper th{
	color:#86C557;
	width:3em;
}

#lost_info_wrapper td {
	color:#333333;
	padding-left:0.25em;
	max-width:7em;
	overflow: hidden;
    text-overflow: ellipsis;
}

.clear {
	clear:both;
}

#back {
	background:#F2F2F2;
	font-size:2em;
	color:#333333;
	text-align:center;
	padding:5% 2%;
}