
	#title {
		list-style-type:none;
		background:#d9d9d9;
		text-align:left;
		font-size:4em;
		padding:2%;		
		margin:0;
	}
	
	#title li {
		display:inline;
		color:#808080;	
	}
	
	#title a,
	#title a:visited {
		color:#808080;
	}
	
	#photo_list {
		padding:64px;
		padding-right:0;
	}
	
	#add_photo_btn img {
		width:100%;
		cursor:pointer;
	}
	
	#add_photo_btn,
	.photo_wrapper {
		position:relative;
		z-index:1;
		margin-bottom:64px;
		margin-right:61px;
		background:url(/img/16/1.png) center center no-repeat;
		background-size: contain;		
		width:160px;
		height:160px;
		float:left;
	}
	
	#add_photo_btn {
		background:none;
	}
	
	.photo {
		width:100%;
		height:100%;
		border-radius:30px;	
	}
	
	.delete_btn {
		border:none;
		position:absolute;
		right:0;
		top:0;
		width:50px;
		height:50px;
		background:url(/img/16/2.png) center center no-repeat;	
		background-size: 100%;
		width:50px;
		height:50px;
		cursor:pointer;	
	}
	
	.delete_btn img {
		width:100%;
	}
	
@media (min-device-width: 213px) {
  html, body { font-size: 2px;line-height: 1;
	 } }
@media (min-device-width: 256px) {
  html, body { font-size: 3px;line-height: 1; } }
@media (min-device-width: 320px) {
  html, body {
  	font-size: 3px;line-height: 1;
  }
}
@media (min-device-width: 320px) {
  html, body {
     font-size: 4px;
	line-height:1px; }
	
	#title a,
	#title a:visited {
		color:#808080;
	}
	
	#photo_list {
		padding:27px;
		padding-right:0;
	}
	
	#add_photo_btn,
	.photo_wrapper {
		margin-bottom:24px;
		margin-left:10px;
		margin-right:10px;
		width:70px;
		height:70px;
	}
	
	.photo {
		border-radius:15px;	
	}
	
	.delete_btn {
		width:20px;
		height:20px;
	}
	
}
@media (min-device-width: 360px) {
  html, body {
    font-size: 6px;
	line-height:1px; } 
  	
	#title a,
	#title a:visited {
		color:#808080;
	}
	
	#photo_list {
		padding:64px;
	}
	
	#add_photo_btn,
	.photo_wrapper {
		margin-bottom:24px;
		margin-left:15px;
		margin-right:15px;
		width:70px;
		height:70px;
	}
	
	.photo {
		border-radius:30px;	
	}
	
	.delete_btn {
		width:50px;		
		height:15px;

	}
}

@media (min-device-width: 375px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
 }
@media (min-device-width: 400px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
 }
@media (min-device-width: 480px) {
  html, body {
    font-size: 6px;
	line-height:1;  	 }
	
	#title a,
	#title a:visited {
		color:#808080;
	}
	
	#photo_list {
		padding:35px;
		padding-right:0;
	}
	
	#add_photo_btn,
	.photo_wrapper {
		margin-bottom:32px;
		margin-left:20px;
		margin-right:20px;
		width:100px;
		height:100px;
	}
	
	.photo {
		border-radius:13px;	
	}
	
	.delete_btn {
		width:25px;
		height:25px;
		
	}
}  	
@media (min-device-width: 540px) {
  html, body {
    font-size: 6px;
    line-height: 1; }  
@media (min-device-width: 600px) {
  html, body {
    font-size: 7px;
    line-height: 1; }
	
	#title a,
	#title a:visited {
		color:#808080;
	}
	
	#photo_list {
		padding:35px;
		padding-right:0;
	}
	
	#add_photo_btn,
	.photo_wrapper {
		margin-bottom:64px;
		margin-right:71px;
		width:160px;
		height:160px;
	}
	
	.photo {
		border-radius:15px;	
	}
	
	.delete_btn {
		width:30px;
		height:30px;
		
	}
}

@media (min-device-width: 640px) {
  html, body {
    font-size: 7px;
    line-height: 1;  	 } }
@media (min-device-width: 720px) {
	
}
@media (min-device-width: 768px) {
  html, body {
    font-size: 8px;
    line-height: 1;  	 } }
@media (min-device-width: 800px) {
  html, body {
    font-size: 10px;
    line-height: 1;  	 } }
@media (min-device-width: 960px) {
  html, body {
    font-size: 11px;
    line-height: 1;  	 }
}
@media (min-device-width: 1024px) {

  html, body {
    font-size: 12px;
    line-height: 1;  	 }	

}